#card{
    transition: box-shadow .3s;
    position: absolute;
    width: 4%;
    top: 400px;
    left: 200px;
    border: 1px solid #ccc;
    background: rgb(255, 255, 255);

}
table,th, td {
    border:1px solid black;
    margin-left: 1000px;
}
#card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#card2{
    transition: box-shadow .3s;
    position: absolute;
    width: 4%;
    top: 400px;
    left: 280px;
    border: 1px solid #ccc;
    background: #fff;
}

#card2:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#desk{
    position: absolute;
    margin-top: 0px;
    width: 50%;
}
#button{
    position: absolute;
    left: 400px;
    top:700px;
}
